.app.dark {
    --bg-color: #141a2a;
    --inverted-bg-color: #1f2638;
    --primary-color: #fefeff;
    --secondary-color: #fefeff;
    --inverted-primary-color: #3d59c1;
    --inverted-secondary-color: #004bed;
}
